*{
    margin: 0;
    outline: none;
}

body{
    font-family: Roboto;
    background-image: url("images/wallpaper.png");
    background-size: 250px;
    background-repeat: repeat;
}

.header{
    color: #fff;
    top: 0;
    position: fixed;
    background-color: #242c2c;
    height: 60px;
    width: 100%;
    z-index: 10;
}

#logo{
    padding-right: 10px;
    vertical-align: middle;
    height: 40px;
}

#title{
    font-family: Cairo;
    padding-left: 30px;
    line-height: 60px;
    font-size: 25px;
}

.menu{
    float: right;
    padding-right: 20px;
}

.hl{
    color: #fff;
    font-family: RobotoB;
    padding-left: 10px;
    line-height: 60px;
    font-size: 15px;
    text-decoration: none;
}
.hl:hover{
    color: #C0C0C0;
}

.container{
    margin: auto;
    background-color: white;
    width: 70%;
    min-height: 110%;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.hero{
    width: 100%;
    height: 300px;
    background: rgb(231,244,255);
    background: linear-gradient(90deg, rgba(217,237,255,1) 0%, rgba(236,255,233,1) 100%);
}
.fade{
    width: 100%;
    height: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 25%, rgba(255,255,255,0) 100%);
}

.pic{
    display: inline-block;
    margin-top: 120px;
    padding-left: 50px;
    height: 100px;
}

.hero-div{
    position: absolute;
    top: 125px;
    width: auto;
    display: inline-block;
}

.hero-title{
    line-height: 60px;
    font-family: Cairo;
    color: #3867d6;
    padding-left: 10px;
    font-size: 50px;
}

.hero-sub{
    font-size: 12px;
    padding-left: 12px;
}

.lnk{
    color: #4b7bec;
}
.lnk:hover{
    color: #3742fa;
}

.widget-container{
    background-color: rgba(190, 235, 220, 0.3);
    padding: 5px;
    margin-right: 50px;
    margin-top: 150px;
    float: right;
    border-radius: 5px;
}

.widget{
    height: 30px;
    vertical-align: middle;
}

#navbar{
    height: 50px;
    width: 100%;
    margin-bottom: 15px;
}

table{
    height: 100%;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    background-color: aliceblue;
}

th{
    width: 30%;
    padding: 0;
    border-radius: 5px;
    vertical-align: middle;
}
th:hover{
    cursor: pointer;
    transition-duration: .4s;
    background-color: #d6eaff;
}

.dropdown{
    width: 100%;
    font-family: Cairo;
    font-weight: 100;
    font-size: 20px;
    color: #353b48;
    background-color: transparent;
    border: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

th:hover .link{
    color: #57606f;
}

.dropdown-content{
    display: none;
    position: absolute;
    width: list-width;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    text-align: left;
    z-index: 1;
    width: 20.7%;
}

th:hover .dropdown-content{
    display: block;
}

.dropdown-content a{
    display: block;
    text-decoration: none;
    border-radius: 5px;
    line-height: 20px;
    font-size: 20px;
    font-weight: 100;
    padding: 12px 16px;
    color: #303952;
}
.dropdown-content a:hover{
    color: #57606f;
    background-color: #f9f9f9;
}

.separator{
    color: #747d8c;
    line-height: 25px;
    font-size: 18px;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    text-align: center;
}
.separator::before, .separator::after{
    content: '';
    flex: 1;
    border-bottom: 2px solid #a4b0be;
}
.separator::before{
    margin-right: .25em;
}
.separator::after{
    margin-left: .25em;
}

section{
    padding-bottom: 20px;
}

.card{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 95%;
    height: 200px;
    margin-right: auto;
    margin-left: auto;
    background: rgb(241,242,246);
    background: linear-gradient(90deg, rgba(241,242,246,.5) 0%, rgba(241,242,246,.5) 48%, rgba(255,255,255,1) 52%, rgba(255,255,255,1) 100%);
    background-size: 200%;
    background-position: 70% 0;
}
.card:hover{
    animation: change .4s ease-in-out;
    background-position: 0 100%;
}

.icon{
    padding: 25px;
    height: 150px;
    display: inline-block;
}

.inline-div{
    height: 200px;
    position: absolute;
    display: inline-block;
}

.title{
    padding-top: 60px;
    font-size: 30px;
    color: #2f3542;
}

.sub{
    padding-top: 10px;
    color: #2f3542;
}

.download{
    float: right;
    margin-top: 85px;
    padding-right: 25px;
    
}

.platform{
    max-height: 30px;
    margin-left: 2px;
    margin-right: 5px;
}

.version{
    position: absolute;
    transform: translate(-50px,2px);
    line-height: 30px;
    font-size: 24px;
    color: #a5b1c2;
    background-color: transparent;
}

.footer{
    margin: auto;
    background-color: #2c3e50;
    width: 70%;
    min-height: 100px;
    -webkit-box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 75%);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 75%);
}

@keyframes change{
    0%{
        background-position: 70% 0;
    }
    100%{
        background-position: 0 100%;
    }
}

@font-face{
    font-family: Cairo;
    src: url(fonts/Cairo-Regular.ttf);
}

@font-face{
    font-family: Roboto;
    src: url(fonts/Roboto-Regular.ttf);
}

@font-face{
    font-family: RobotoB;
    src: url(fonts/Roboto-Bold.ttf);
}
